/* Google Font: Be Vietnam Pro || */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

/* Primary Colors || */
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

/* Neutral Colors || */
$dark-grayish-blue: hsl(227, 12%, 61%);
$v-dark-blue: hsl(233, 12%, 13%);
$v-pale-red: hsl(12, 100%, 96%);
$v-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

/* Fonts || */
$font-vietnam: "Be Vietnam Pro", sans-serif;

/* General Styles || */
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  position: relative;
  background-color: $white;
  font-family: $font-vietnam;
  font-size: 16px;
  overflow-x: hidden;
  &::before {
    content: url("../images/bg-tablet-pattern.svg");
    width: 200px;
    height: 200px;
    position: absolute;
    top: -10em;
    right: 10em;
    transform: scale(0.6);
    opacity: 0.7;
    z-index: -5;
  }
}
img {
  width: 100%;
}
p {
  color: $dark-grayish-blue;
  line-height: 1.8em;
}
h1,
h2,
h3,
h4,
h5 {
  color: $dark-blue;
}

/* Utilities || */
.hidden {
  display: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  background: $bright-red;
  color: $v-light-gray;
  font-weight: 700;
  padding: 1em 1.9em;
  border: none;
  border-radius: 2em;
  box-shadow: 0px 3px 5px lighten($bright-red, 20);
  cursor: pointer;
  transition: 0.4s ease-out;
  &:hover {
    background: lighten($bright-red, 15);
  }
}
.center {
  text-align: center;
}

/* NAV |||||| */
.nav-wrapper {
  width: 80%;
  max-width: 1130px;
  margin: 2em auto 0;
  .logo {
    width: 120px;
  }
}
.nav {
  position: relative;
  justify-content: space-between;
  .nav-links {
    background-color: $white;
    position: absolute;
    flex-direction: column;
    font-weight: 500;
    width: 100%;
    top: 4em;
    left: 0;
    right: 0;
    transform: scale(1);
    padding: 3em 0;
    transition: 0.4s ease-out;
    overflow: hidden;
    z-index: 100;
  }
  li + li {
    margin-top: 1.5em;
  }
  a {
    color: lighten($dark-blue, 5);
    font-weight: 700;
    transition: 0.4s ease-out;
    cursor: pointer;
    &:hover {
      color: $bright-red;
    }
  }
}
.nav-links.active {
  left: 110%;
  transform: scale(0);
}
.burger {
  position: relative;
  width: 30px;
  height: 30px;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  z-index: 20;
  .lines {
    position: absolute;
    width: 20px;
    height: 3px;
    margin: auto;
    left: 0;
    right: 0;
    background-color: hsl(0, 0%, 0%);
    transition: 0.2s ease-in;
  }
  .line1 {
    top: 5px;
    transform: rotate(0);
  }
  .line2 {
    top: 12px;
    transform: rotate(0);
    opacity: 1;
  }
  .line3 {
    top: 19px;
    transform: rotate(0);
  }
}
.burger.active .line1 {
  top: 11px;
  transform: rotate(45deg);
}
.burger.active .line2 {
  right: 360px;
  opacity: 0;
}
.burger.active .line3 {
  top: 11px;
  transform: rotate(-45deg);
}

/* OVERLAY |||||| */
.overlay {
  position: absolute;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.514);
  // display: none;
  visibility: hidden;
  transition: display 0.3s ease;
  transition-delay: 1.4s;
}
.overlay.active {
  // display: block;
  visibility: visible;
}

/* HERO ||||| */
.hero {
  width: 87%;
  max-width: 31.25em;
  margin: 3em auto 7em;
  flex-direction: column-reverse;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 1.5em;
  }
}

/* DIFFERENT ||||| */
.different {
  position: relative;
  width: 100%;
  max-width: 31.25em;
  margin: auto;
  margin-bottom: 5em;
  &::before {
    content: url("../images/bg-tablet-pattern.svg");
    width: 200px;
    height: 200px;
    position: absolute;
    top: -30em;
    right: -1em;
    transform: scale(0.5);
    opacity: 0.7;
    z-index: -5;
  }
  &_details {
    width: 90%;
    margin: auto;
  }
  p {
    margin: 0 1em;
  }
  h2 {
    font-size: 2.3rem;
    margin-bottom: 0.5em;
  }
  .different_points {
    margin-top: 4em;
  }
  .points {
    margin-bottom: 3em;
    &:nth-child(2) h3::before {
      content: "02";
    }
    &:nth-child(3) h3::before {
      content: "03";
    }
  }
  .points h3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 110%;
    height: 6.5vh;
    font-size: 1rem;
    padding: 0.6em;
    padding-left: 0em;
    margin-bottom: 1em;
    margin-left: 1em;
    background-color: $v-pale-red;
    border-bottom-left-radius: 3em;
    border-top-left-radius: 3em;
    &::before {
      content: "01";
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: -0.5em;
      width: 40px;
      height: 4.5vh;
      background-color: $bright-red;
      color: $v-light-gray;
      padding: 0.5em 0.8em;
      border-radius: 1.5em;
    }
  }
}

/* TESTIMONIALS ||||| */
.testimonials {
  margin-bottom: 3em;
  h4 {
    font-size: 2rem;
    margin-bottom: 2em;
  }
}
.testimonials_wrapper {
  display: flex;
  flex-shrink: 0;
  padding-top: 4em;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 2em;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darken($v-pale-red, 1);
    width: 30px;
    border-radius: 30px;
  }
  .testimony {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin-right: 1.5em;
    margin-bottom: 1em;
    padding: 3em 1em 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $v-light-gray;
    flex-shrink: 0;
    scroll-snap-align: start;
    transition: 0.5s ease;
    overflow: visible;
    z-index: 30;
  }
  .testimony_img {
    position: absolute;
    top: -1.9em;
    width: 50px;
    z-index: 20;
  }
  h4 {
    font-size: 1rem;
    margin-bottom: 1em;
  }
}

/* SLIDERS |||| */
.sliders {
  margin-bottom: 3em;
  margin-top: 3em;
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    font-size: 0.4em;
    padding: 0.2em;
    background-color: transparent;
    border: 2px solid $bright-red;
    &:active,
    &:focus {
      background-color: $bright-red;
    }
  }
}
.cta {
  position: relative;
  height: 50vh;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  color: $v-light-gray;
  background-color: $bright-red;
  flex-direction: column;
  padding: 0 1em;
  button {
    position: relative;
    margin-top: 2em;
    background-color: $v-pale-red;
    color: $bright-red;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.418);
    &:hover {
      color: lighten($bright-red, 2);
      background-color: darken($v-pale-red, 5);
    }
  }
  &::before {
    position: absolute;
    content: url("/images/bg-simplify-section-mobile.svg");
    left: 0;
    opacity: 0.15;
  }
}

/* FOOTER |||||| */
footer {
  display: flex;
  flex-direction: column;
  background-color: $v-dark-blue;
  padding: 0 2em;
  a {
    color: $white;
    font-weight: 300;
    transition: 0.3s ease;
    &:hover {
      color: $bright-red;
    }
  }
  .logo-socials__wrapper {
    order: 3;
    flex-direction: column-reverse;
    margin: 3em 0;
    .logo {
      filter: brightness(0) invert(1);
    }
  }
  .socials {
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2em;
    img {
      height: 30px;
      width: 30px;
      transition: 0.3s ease-out;
      &:hover {
        filter: invert(29%) sepia(80%) saturate(4608%) hue-rotate(337deg)
          brightness(96%) contrast(97%);
      }
    }
    a {
      &:hover {
        color: $bright-red;
      }
    }
  }
  .footer_links {
    order: 2;
    justify-content: space-around;
    align-items: flex-start;
    .home,
    .careers {
      display: flex;
      flex-direction: column;
      a {
        margin-bottom: 1em;
        transition: 0.3s ease;
      }
    }
  }
  .updates {
    order: -1;
    width: 100%;
    margin: 3em auto;
    input {
      width: 70%;
      outline: none;
      border-color: transparent;
      border-radius: 30px;
      padding: 1em;
      margin-right: 0.5em;
    }
    button {
      box-shadow: 0 0 0 0 transparent;
    }
  }
  .copyright {
    order: 5;
    margin-bottom: 1em;
    font-size: 0.7rem;
  }
}

/* MEDIA QUERIES |||||| */
@media only screen and (min-width: 48.1em) {
  .overlay.active {
    visibility: hidden;
  }

  /* NAV */
  .nav {
    .nav-links {
      top: -1.3em;
      left: 2em;
      width: 60%;
      margin: auto;
      height: 1vh;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-end;
      background-color: transparent;
    }
    a:hover {
      color: lighten($dark-blue, 58);
    }
  }
  .burger {
    display: none;
  }
  .hidden {
    display: block;
  }
  .nav-links.active {
    left: 0;
    transform: scale(1);
  }

  /* HERO */
  .hero {
    flex-direction: row;
    max-width: 70em;
    text-align: left;
    &_bring {
      text-align: left;
      max-width: 50%;
    }
  }

  /* DIFFERENT */
  .different {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    &::before {
      left: -29em;
      top: 19em;
      transform: scale(0.8);
    }
    &_details {
      max-width: 400px;
      text-align: left;
      padding: 0;
      margin: 4em auto 0;
      p {
        margin: 0;
      }
    }
    &_points {
      max-width: 400px;
      margin: auto;
    }
    .points {
      margin-bottom: 1em;

      h3 {
        justify-content: flex-start;
        background-color: transparent;
        left: 1em;
        margin-left: 0em;
        &::before {
          left: -6em;
        }
      }
    }
  }

  /* CTA */
  .cta {
    height: 30vh;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    overflow: hidden;
    &_details {
      max-width: 500px;
    }
    &::before {
      position: absolute;
      content: url("/images/bg-simplify-section-desktop.svg");
      left: 0;
      opacity: 0.15;
    }
  }

  /* FOOTER */
  footer {
    position: relative;
    flex-direction: row;
    justify-content: center;
    .logo-socials__wrapper,
    .updates,
    .copyright,
    .footer_links {
      order: unset;
      width: 33.3%;
    }

    .logo-socials__wrapper {
      flex-direction: column;
    }
    .footer_links {
      align-self: center;
    }
    .copyright {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .socials {
      justify-content: center;
      margin-top: 3em;
      img {
        width: 20px;
        height: 20px;
        margin-right: 1em;
      }
    }
    .updates {
      align-self: flex-start;
    }
  }
}

@media only screen and (min-width: 83.1em) {
  body::before {
    top: -19em;
    right: 30em;
    transform: scale(1);
  }
  .hero{
    margin-top: 7em;
    &_bring{
      padding-right: 9em;
    }
    h1{
      font-size: 3.2rem;
    }
    p{
      font-size: 1.2rem;
    }
    &_img{
      padding: 2em;
    }
  }
 .different{
  .points h3{
    font-size: 1.3rem;
    margin-bottom: 0;
    &::before{
      padding: .2em 1em;
    }
  }
 }
}
